body{
    width: 100%;
    margin: 0px;
    background-color:white;
}

.header{
    background: linear-gradient(
        170deg,
        #174646 0%,
        #174646 60%,
        white 60%,
        white 100%  );
}
.bar{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.about{
    display: flex;
    font-size: 12px;
    gap: 50px;
    align-items: baseline;
    /* TODO dont use pointer for wrapper */
    cursor: pointer;
}

.about p:hover{
    text-decoration: underline;
}


.shopbutton{
    background-color: #e1622b;
    padding: 5px 15px;
    border-radius: 30px;
}

.headerimg img{
    width:360px;
    height: 240px;
    border: 2px solid black;
}

.maintext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.headertext{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.headertext p{
    margin: 0px;
}

.introtext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 40px 0px;
}

.item{
    display: flex;
    justify-content: space-between;
}

.text1{
    display: flex;
    flex-direction: column;
    padding: 0px 90px;
    font-family:Arial, Helvetica, sans-serif;

}

.image1 img{
    width:630px;
    height: 320px;
    border: 2px solid black;
}

.styling1{
    width:80px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #266d5d;
    color: white;
    border-radius: 8px;
}

.styling2{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1622b;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.styling2:hover{
    border: 2px dashed black;
}

.imgholder img{
    width:350px;
    height: 200px;
    border: 2px solid black;
}

.textholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}

.textholder p{
    margin: 3px;
}

.textholder div{
    margin: 10px 0px;
}

.imagebox{
    display: flex;
    justify-content: space-around;

}
.styling3{
    width: 150px;
    height: 40px;
    font-size: 12px;
    background-color:#1c1e37;
    margin: 0px auto;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.styling3:hover{

    border: 2px dashed black;

}

.yellowbox{
    margin: 60px 0px -50px 0px;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #eaa12b;
}

.menu{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1c1e37;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.columns{
    display: flex;
    gap: 180px; 
}

.acolumn p{
    cursor: pointer;
}

.acolumn p:hover{
    text-decoration: underline;
}

.getinfo{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.getinfo div{
    cursor: pointer;
}

#email{
    cursor: pointer;
}

.sign{
    background-color: #e1622b;
    border-radius: 30px;
    font-size: 12px;
    padding: 5px 15px;
}

.sign:hover{
    border: 2px dashed black;
}

.getinfo div ::placeholder{
    background-color: gray;
    color: white;
    outline: none;
    border: none;
    margin: 0px;
    padding: 5px;
}


